
body {
  background: #fafafa;
  color: #5e5ea4;
  padding-top: 70px;
}

h1, h2, h3, h4, h5, h6 {
  color: #580306;
}

.main-color {
  background-color: #a80e0e ;
}

.strike-through-td {
    text-decoration: line-through;
}

/* h1 {
  color: red;
} */




